<h3>About</h3>

<p>
  My first ember app is based on the tutorials at Dockyard and will be confusing because it will also be for the Boston Ember meetup site.  Crazy, it doesn't make any sense at all.
</p>
